@use '../../utils' as *;

/*----------------------------------------*/
/*  7.3 brand css start
/*----------------------------------------*/
.tp-brand{
    &-wrap {
        padding: 66px 120px;
        margin-top: -80px;
        position: relative;
        z-index: 1;
        @media #{$xxxl,$xxl}{
            padding: 66px 50px;
        }
        @media #{$xl,$lg,$md,$xs}{
            padding: 66px 30px;
        }
    }
    &-item{
        & img {
            filter: grayscale(100%);
            opacity: 0.7;
            transition: all 0.3s linear;
            &:hover {
                filter: grayscale(0%);
                opacity: 1;
            }
        }
    }
}
.tp-brand-2{
    &-item{
        text-align: center;
        & img {
            opacity: 26%;
            transition: all 0.3s linear;
            &:hover {
                opacity: 100%;
            }
        }
    }
}